/*
COLORS:

Main Color: #8f0d3e
Light Color: #c70038
Darker Color: #571845
Darker Color: #ff5733

*/
@keyframes moveInBottom {
    0% {
       opacity: 0;
       transform: translateY(30px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
}

@keyframes moveInLeft {
    0% {
       opacity: 0;
       transform: translateX(-80px);
    }
    80% {
       transform: translateX(10px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
}

$color-main: #8f0d3e;
$color-light: #c70038;
$color-dark: #571845;
$color-accent: #ff5733;



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    height: 100%;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.7; 
}

body::after {
    content: "";
    background: url(../images/cat-bg-01.png);
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

.main-section {
    position: relative;
    width: 60vw;
    top: 44%;
    left: 52%;    
    transform: translate(-50%, -50%);
    margin-top: 200px;

    h1 {
        font-size: 50px;
        text-transform: uppercase;
        color: #571845;

        animation: moveInLeft .3s ease-out .4s;
        animation-fill-mode: backwards;
    }

    p {
        margin-bottom: 20px;
        font-size: 20px;
        color: #571845;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
        animation: moveInLeft .3s ease-out .4s;
        animation-fill-mode: backwards;
    }
}

.btn {
    float: left;
    margin: 20px;
        &:link,
        &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 15px 40px;     
        display: inline-block;
        border-radius: 100px;
        transition: all .2;
        position: relative;
    }
}



.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 7px 12px rgba(0,0,0,.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 4px 8px rgba(0,0,0,.2);
}

.btn:nth-last-child(-n+2) {
    margin-top: 10px;
}

@mixin button-custom ($bg: $color-main) {
    animation: moveInBottom .3s ease-out .4s;
    animation-fill-mode: backwards;
    background-color: $bg;
    color: #fff;
}

.btn-main {
    @include button-custom();
}

.btn-light {
    @include button-custom($color-light);
}

.btn-dark {
    @include button-custom($color-dark);
}

.btn-accent {
    @include button-custom($color-accent);
}